body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    width: 50%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .modal-header {
  
  
  
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .modal-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .modal-close-button {
    cursor: pointer;
    font-size: 20px;
    margin-left: auto; 
    color: #333;
    transition: color 0.2s;
  }
  
  .modal-close-button:hover {
    color: red;
  }
  
  /* Main Content Styles */
  .main-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    height: 200px;
  }
  
  /* Button Styles */
  .btn-style {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .btn-style button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin:5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-style button:hover {
    background-color: #240077;
  }
  .btn-modal {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .btn-modal {
    background-color: #0288D1;
    color: white;
    padding: 10px 20px;
    margin:5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-modal:hover {
    background-color: #240077;
  }
  
  
  /* Text Content Styles */
  p {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
  }
  
  /* Additional Styles */
  h2 {
    font-size: 28px;
    color: #333;
  }
  @media (max-width: 768px) {
    .modal-content {
      width: 90%;
    }
  
    .btn-style {
      flex-direction: column;
    }
  
    button {
      margin: 5px 0;
    }
  }