@import "~antd/dist/antd.less";

.auth-image {
  padding-right: 50px;
}

.auth-image-col {
  max-width: 800px;
}

.auth-form-col {
  max-width: 500px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

/* Margins */
.mt-0 {
  margin-top: 0 !important;
}

.mt-3 {
  margin-top: 3px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-12 {
  margin-top: 12px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.mt-24 {
  margin-top: 24px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.mr-16 {
  margin-right: 16px !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-8 {
  margin-left: 8px !important;
}

.ml-16 {
  margin-left: 16px !important;
}

/* Paddings */

.pl-0 {
  padding-left: 0 !important;
}

.pl-8 {
  padding-left: 8px !important;
}

.pl-16 {
  padding-left: 16px !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-8 {
  padding-right: 8px !important;
}

.pr-16 {
  padding-right: 16px !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pt-8 {
  padding-top: 8px !important;
}

.pt-16 {
  padding-top: 16px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-8 {
  padding-bottom: 8px !important;
}

.pb-16 {
  padding-bottom: 16px !important;
}

.text-center {
  text-align: center;
}
