@import "~antd/dist/antd.less";
@import "./css/spacing.css";
@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@primary-color: #3aafa9;

img {
  max-width: 100%;
}

.brand-font {
  font-family: "Aldrich", sans-serif;
}

.signin-image {
  padding-right: 50px;
  max-height: 80vh;
}

.homepage-image {
  padding-bottom: 20px;
  max-height: calc(100vh - 72px);
}

.homepage-interface {
  padding: 20px 0px;
  width: 100%;
  max-width: calc(100vw - 48px);
}

.signup-image {
  padding-left: 50px;
}

.auth-image-col {
  max-width: 800px;
}

.auth-form-col {
  max-width: 500px;
}

.home-row {
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.home-left-col {
  padding: 0 24px;
}

.home-right-col {
  padding: 0 24px;
}

.home-description {
  font-weight: normal;
}

// footer is visible in the screen
.row-fullheight {
  min-height: calc(
    100vh - 64px - 245px
  ); /* 64px is the height of the navbar, 245px is the height of the footer */
}

// footer is below the visible screen
.row-footer-below {
  min-height: calc(100vh - 72px); /* 72px is the height of the navbar */
}

.auth-margin {
  margin-bottom: 50px;
}

@media (min-width: 767px) {
  .home-row {
    min-height: calc(100vh - 72px);
    text-align: left;
  }

  .home-title {
    font-size: 3rem;
  }

  .home-description {
    font-size: 1.8rem;
  }

  .homepage-interface {
    padding: 20px 20px;
    width: 80%;
  }
}

@media (max-width: 767px) {
  .mobile-top-padding {
    padding-top: 40px;
  }

  .row-fullheight {
    min-height: 100%; /* 72px is the height of the navbar, 285px is the height of the footer */
  }

  .row-footer-below {
    min-height: 100%; /* 72px is the height of the navbar, 285px is the height of the footer */
  }

  .auth-margin {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .max-height-mobile > .ant-card-body {
    max-height: 70vh;
    overflow-y: scroll;
  }
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.code-box-shape {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background: #1890ff;
}

/* Navbar */

.navbar {
  padding-bottom: 1px;
  border-bottom: solid 1px #e8e8e8;
  background-color: white;
  box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.12),
    0 6px 16px -11px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  margin-bottom: 20px;
  z-index: 99990;
}

.navbar-mini {
  background-color: white;
  z-index: 99990;
}

.nav-header {
  background-color: white;
  border-bottom: 0;
  padding: 0 4px 0 24px;
}

.logo {
  width: 200px;
  float: left;
}

.logo a {
  display: inline-block;
  font-size: 20px;
  text-transform: capitalize;
}

.navbar-menu {
  width: calc(100% - 200px);
  float: left;
}
.navbar-menu .ant-layout-header {
  padding: 0 20px;
}

.navbar-menu .ant-menu-horizontal {
  border-bottom: 0;
}

.navbar-menu .ant-menu-item {
  padding-bottom: 0px;
}

.navbar-menu .leftMenu {
  float: left;
}

.navbar-menu .rightMenu {
  float: right;
}

.barsMenu {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 10px;
  display: none;
  background: none;
}

.barsBtn {
  display: block;
  width: 20px;
  height: 2px;
  background: grey;
  position: relative;
}

.barsBtn:after,
.barsBtn:before {
  content: attr(x);
  width: 20px;
  position: absolute;
  top: -6px;
  left: 0;
  height: 2px;
  background: grey;
}

.barsBtn:after {
  top: auto;
  bottom: -6px;
}

.ant-drawer-body {
  padding: 0;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%;
}

.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
}

@media (max-width: 767px) {
  .barsMenu {
    display: inline-block;
    margin-right: 10px;
  }

  .leftMenu,
  .rightMenu {
    display: none;
  }

  .logo a {
    margin-left: -10px;
  }

  .ant-drawer-title > .brand-font {
    margin-bottom: 0;
  }
}

.twitter > span,
.google > span,
.github > span,
.facebook > span {
  color: #ffffff;
  transition: color 0.2s;
}

.twitter,
.twitter:focus:not(:hover) {
  border-color: #1da1f2;
  background-color: #1da1f2;
}

.twitter-color {
  color: #1da1f2;
}

.twitter:hover {
  border-color: #1da1f2;
}

.twitter:hover > span {
  color: #1da1f2;
  transition: color 0.2s;
}

.google,
.google:focus:not(:hover) {
  border-color: #db3236;
  background-color: #db3236;
}

.google-color {
  color: #db3236;
}

.google:hover {
  border-color: #db3236;
}

.google:hover > span {
  color: #db3236;
  transition: color 0.2s;
}

.github,
.github:focus:not(:hover) {
  border-color: #211f1f;
  background-color: #211f1f;
}

.github-color {
  color: #211f1f;
}

.github:hover {
  border-color: #211f1f;
}

.github:hover > span {
  color: #211f1f;
  transition: color 0.2s;
}

.facebook,
.facebook:focus:not(:hover) {
  border-color: #4267b2;
  background-color: #4267b2;
}

.facebook-color {
  color: #4267b2;
}

.facebook:hover {
  border-color: #4267b2;
}

.facebook:hover > span {
  color: #4267b2;
  transition: color 0.2s;
}

.linkedin-color {
  color: #0176b2;
}

.website-color {
  color: #000000;
}

/* spinner */
.pulse {
  animation: pulse 2s ease-out;
  animation-iteration-count: infinite;
  opacity: 1;
  font-size: 2rem;
  color: @primary-color;
  font-family: "Aldrich", sans-serif;
  text-emphasis: none;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.ant-form-item-explain {
  padding-top: 8px;
  padding-bottom: 16px;
}

.call-to-action-btn {
  height: 50px;
  padding: 6px 25px;
  font-size: 20px;
  border-radius: 2px;
}

.flip-image {
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}

.light-green-bg {
  background-color: #f7fcfb;
}

.footer-link {
  transition: all 0.2s;
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
}

.dash-image {
  max-height: calc(100vh - 250px);
}

.div-transition {
  transition: flex 0.2s;
}

footer {
  margin-top: 0px;
}

.mini-sidebar-column {
  position: relative;
  left: 0;
  width: 66px;
  // min-height: calc(100vh - 64px);
  border-right: 1px solid #e8e8e8;
  overflow-y: hidden;
  background-color: white;
  // box-shadow: 6px 0px 6px -6px rgba(0, 0, 0, 0.1);
  padding-bottom: 16px;
  margin-bottom: -50px; //height of footer margin
  height: 100%;
}

.mini-sidebar-column:hover {
  overflow-y: overlay;
}

.minisidebar-item {
  margin-top: 16px;
  border: #ffffff 1px solid;
  border-radius: 50%;
  padding: 3px;
  transition: all 0.2s;
  cursor: pointer;
  filter: opacity(0.9);
}

.minisidebar-item-no-border {
  border: #ffffff 1px solid !important;
}

.minisidebar-item:hover:not(.minisidebar-active) {
  border: transparent 1px solid !important;
  cursor: pointer;
  transition: all 0.2s;
  filter: opacity(1);
}

.minisidebar-item:active:not(.minisidebar-active) {
  border: @primary-color 1px solid !important;
  transition: all 0s;
}

.minisidebar-item-border {
  border: #b4b4b4 1px solid;
}

.minisidebar-active {
  border: @primary-color 1px solid !important;
  box-shadow: 0 0 0 2px rgba(58, 175, 169, 0.2);
  filter: opacity(1);
}

@media (min-width: 767px) {
  .org-row {
    margin-bottom: -42px;
  }

  .ant-card-extra {
    padding: 0px;
  }
}

.org-image-background {
  align-items: center;
  text-align: center;
  border-radius: 6px;
}

.org-image {
  //border: 1px solid #f0f0f0;
  padding: 0 2px;
}

.org-image-card > .ant-card-body {
  padding: 0;
  border: 0;
}

.org-image-card
  > .ant-card-body
  > .ant-upload-picture-card-wrapper
  > .ant-upload.ant-upload-select-picture-card {
  width: 100%;
}

.form-label {
  margin-bottom: 4px;
  display: inline-block;
  font-size: 0.8rem !important;
}

.text-justified {
  text-align: justify;
}

.tutorial-steps-sider {
  height: calc(100vh - 64px);
  overflow-y: hidden;
}

.tutorial-steps-sider:hover {
  overflow-y: auto;
}

.tutorial-title-header {
  width: 100%;
  border-bottom: solid 1px #e8e8e8;
}

.scrollfix {
  border-right: solid 1px #e8e8e8;
  padding-right: 15px;
}

.ant-page-header-heading-title {
  white-space: inherit !important;
}

.ant-page-header-fix {
  white-space: break-spaces !important;
  background-color: white;
}

.ant-page-header-unfix {
  white-space: nowrap !important;
  background-color: white;
}

.tutorial-content {
  height: calc(100vh - 75px - 64px);
  overflow-y: auto;
  padding-bottom: 24px;
}
