.dataOutput {
    position: sticky;
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    max-height: 150px;
    z-index: 100;
    color:#101729;
    background-color: #fff;
}

.dataOutput::-webkit-scrollbar {
    display: none;
}

.dataOutput div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.dataOutput div:hover {
    background: #cccdd1;
    color: #fff;
}

.dataOutput div span {
    line-height: 140%;
}

.dataOutput div span:last-child {
    font-size: 14px;
}

